/* Limpieza total de los estilos por defecto de Vite/Vue */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #08080a;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}
